# Identifying New Work in O\*NET

* In this project, we would like to identify new work.
* New work can be identified as the works that do not exist in the previous O\*NET-SOC Taxonomy but do exist in the current one. In other words, we follow the consecutive Taxonomies and find the differences among them. 
* However, we do not consider splitted works as new works. In order to eliminate those we use O\*NET-SOC Crosswalks and drop them from the set of new works.

* For example:

| O\*NET-SOC Code 2009 | O\*NET-SOC Title 2009 | O\*NET-SOC Code 2010 | O\*NET-SOC Title 2010 |
| :------------------: | :-------------------: | :------------------: | :-------------------: |
| 29-2099.03 | Ophthalmic Medical Technologists and Technicians | 29-2057.00 | Ophthalmic Medical Technicians |
| 29-2099.03 | Ophthalmic Medical Technologists and Technicians | 29-2099.05 | Ophthalmic Medical Technologists |

* __Ophthalmic Medical Technologists and Technicians__ is identified as new work. However,  __Ophthalmic Medical Technicians__ and __Ophthalmic Medical Technologists__ are splitted from __Ophthalmic Medical Technologists and Technicians__. For this reason, they will not be considered as new works.

* We follow the methodology proposed by [(Lin, 2011)](https://www.mitpressjournals.org/doi/abs/10.1162/REST_a_00079) which compares consecutive work taxonomies and identify new work as the jobs that do not exist in the previous taxonomy.
* For this reason, we acquired taxonomies and crosswalks from [O\*NET](https://www.onetcenter.org/taxonomy.html) and compared them in order to identify the new works after 2000.

In [1]:
from IPython.core.display import display, HTML
display(HTML('<style>.container { width:80% !important; }</style>'))
import pandas as pd
import numpy as np

## Import Taxonomies

* `tax_2006`: O\*NET-SOC 2006 Taxonomy
* `tax_2009`: O\*NET-SOC 2009 Taxonomy
* `tax_2010`: O\*NET-SOC 2010 Taxonomy
___
* `cross_2006`: O\*NET-SOC 2000 - 2006 Crosswalk
* `cross_2009`: O\*NET-SOC 2006 - 2009 Crosswalk
* `cross_2010`: O\*NET-SOC 2009 - 2010 Crosswalk

In [2]:
def read_taxonomies(year):
    """Reads O*NET Taxonomy and returns DataFrame"""
    df = pd.read_csv('csv_files/Taxonomies/'+str(year)+'_Occupations.csv')
    df.columns = ['onetsoccode', 'title', 'description']
    df.drop('description', axis=1, inplace=True)
    return df

def read_crosswalks(year1, year2):
    """Reads O*NET Crosswalk and returns DataFrame"""
    df = pd.read_csv('csv_files/Crosswalks/'+str(year1)+'_to_'+str(year2)+'_Crosswalk.csv')
    df.columns = ['temp_code', 'temp_title', 'onetsoccode', 'title']
    df.drop(['temp_code', 'temp_title'], axis=1, inplace=True)
    return df

In [3]:
tax_2006 = read_taxonomies(2006)
tax_2009 = read_taxonomies(2009)
tax_2010 = read_taxonomies(2010)

In [4]:
cross_2006 = read_crosswalks(2000, 2006)
cross_2009 = read_crosswalks(2006, 2009)
cross_2010 = read_crosswalks(2009, 2010)

## Identify New Works

In [5]:
def get_new_work(df1, df2):
    """Compares Taxonomy and Crosswalks in order to indentify New Works"""
    temp = df1.merge(df2, how='left', on='onetsoccode')
    temp = temp[temp.title_y.isnull()]
    temp.drop('title_y', axis=1, inplace=True)
    temp.rename(columns={'title_x':'title'}, inplace=True)
    temp.reset_index(drop=True, inplace=True)
    return temp

### New Work between 2000 - 2006

In [6]:
new_work1 = get_new_work(tax_2006, cross_2006)
new_work1['year'] = 2006
display(new_work1.head())
print('There are {} new works between 2000 and 2006'.format(new_work1.shape[0]))

  onetsoccode                                             title  year
0  15-1099.01  Software Quality Assurance Engineers and Testers  2006
1  15-1099.02             Computer Systems Engineers/Architects  2006
2  15-1099.03                                 Network Designers  2006
3  15-1099.04                                    Web Developers  2006
4  15-1099.05                                Web Administrators  2006

There are 6 new works between 2000 and 2006

### New Work between 2006 - 2009

In [7]:
new_work2 = get_new_work(tax_2009, cross_2009)
new_work2['year'] = 2009
display(new_work2.head())
print('There are {} new work between 2006 and 2009'.format(new_work2.shape[0]))

  onetsoccode                             title  year
0  11-1011.03     Chief Sustainability Officers  2009
1  11-2011.01                   Green Marketers  2009
2  11-3051.01  Quality Control Systems Managers  2009
3  11-3051.02    Geothermal Production Managers  2009
4  11-3051.03      Biofuels Production Managers  2009

There are 153 new work between 2006 and 2009

### New Work between 2009 - 2010

In [8]:
new_work3 = get_new_work(tax_2010, cross_2010)
new_work3['year'] = 2010
display(new_work3.head())
print('There are {} new work between 2009 and 2010'.format(new_work3.shape[0]))

  onetsoccode                                  title  year
0  11-9061.00               Funeral Service Managers  2010
1  13-1131.00                            Fundraisers  2010
2  13-2071.00                      Credit Counselors  2010
3  21-1094.00               Community Health Workers  2010
4  25-2059.00  Special Education Teachers, All Other  2010

There are 14 new work between 2009 and 2010

In [9]:
# Merge all new work into one dataframe
df_new_work = new_work1.append(new_work2).append(new_work3)
df_new_work.sort_values('onetsoccode', inplace=True)
df_new_work.reset_index(drop=True, inplace=True)
display(df_new_work.head())
print('The total number of new works between 2000 and 2010 is {}'.format(
                                                        df_new_work.shape[0]))

  onetsoccode                             title  year
0  11-1011.03     Chief Sustainability Officers  2009
1  11-2011.01                   Green Marketers  2009
2  11-3051.01  Quality Control Systems Managers  2009
3  11-3051.02    Geothermal Production Managers  2009
4  11-3051.03      Biofuels Production Managers  2009

The total number of new works between 2000 and 2010 is 173

## Summary

* Total of 173 new work identified
* There are 6 new works from 2006
* There are 153 new works from 2009
* There are 14 new works from 2010

### Update SOC Codes

* After identifying new work by comparing taxonomies and crosswalks, there is still one step that we have to take which is to update O\*NET-SOC occupation codes.
* New works from 2010 do not need to be updated.
* For splitted titles we will select the first title's O\*NET-SOC Code for the update.

* `onetsoccode_x`: O\*NET-SOC occupational codes for 2009
* `onetsoccode_y`: O\*NET-SOC occupational codes for 2010

In [10]:
df_final = df_new_work.merge(tax_2010, how='left', on='title', indicator='_merge')
df_final.head()

  onetsoccode_x                             title  year onetsoccode_y _merge
0    11-1011.03     Chief Sustainability Officers  2009    11-1011.03   both
1    11-2011.01                   Green Marketers  2009    11-2011.01   both
2    11-3051.01  Quality Control Systems Managers  2009    11-3051.01   both
3    11-3051.02    Geothermal Production Managers  2009    11-3051.02   both
4    11-3051.03      Biofuels Production Managers  2009    11-3051.03   both

In [11]:
condition = (df_final.onetsoccode_x !=
             df_final.onetsoccode_y) & (df_final.onetsoccode_y.notnull())
df_final['onetsoccode'] = np.where(condition, df_final.onetsoccode_y,
                                   df_final.onetsoccode_x)
df_final.drop(['onetsoccode_x', 'onetsoccode_y'], axis=1, inplace=True)
df_final.loc[:,['onetsoccode', 'title', 'year']].head()

  onetsoccode                             title  year
0  11-1011.03     Chief Sustainability Officers  2009
1  11-2011.01                   Green Marketers  2009
2  11-3051.01  Quality Control Systems Managers  2009
3  11-3051.02    Geothermal Production Managers  2009
4  11-3051.03      Biofuels Production Managers  2009

In [12]:
# Occupations that are not updated by O*NET-SOC Taxonomy 2010
df_final[df_final._merge != 'both']

,title,year,_merge,onetsoccode
5,Biomass Production Managers,2009,left_only,11-3051.04
41,Telecommunications Specialists,2009,left_only,15-1081.01
44,Network Designers,2006,left_only,15-1099.03
53,Electronic Commerce Specialists,2009,left_only,15-1099.12
105,Adaptive Physical Education Specialists,2009,left_only,25-3099.01
137,Electroneurodiagnostic Technologists,2009,left_only,29-2099.01
139,Ophthalmic Medical Technologists and Technicians,2009,left_only,29-2099.03
149,Loss Prevention Specialists,2009,left_only,33-9099.02

* In the first step, we kept O\*NET-SOC occupational titles for 2009 and O\*NET-SOC occupational codes for 2010 from 2009-2010 Crosswalk, then merge new work with those titles and codes by using occupational titles. Finally, we find the differences between O\*NET-SOC 2009 occupational codes and O\*NET-SOC 2010 occupational codes and updated the occupational codes based on O\*NET-SOC 2010 occupational codes.

In [13]:
temp = pd.read_csv('csv_files/Crosswalks/2009_to_2010_Crosswalk.csv')
temp.columns = ['onetsoccode2009', 'title', 'onetsoccode', 'onetsoctitle2010']
temp.drop(['onetsoccode2009', 'onetsoctitle2010'], axis=1, inplace=True)
temp.drop_duplicates('title', inplace=True)

* `onetsoccode_x`: O\*NET-SOC occupational codes for 2009
* `onetsoccode_y`: O\*NET-SOC occupational codes for 2010

In [14]:
df_final = df_final.merge(temp, how='left', on='title', indicator='_merge2')
df_final.head()

,title,year,_merge,onetsoccode_x,onetsoccode_y,_merge2
0,Chief Sustainability Officers,2009,both,11-1011.03,11-1011.03,both
1,Green Marketers,2009,both,11-2011.01,11-2011.01,both
2,Quality Control Systems Managers,2009,both,11-3051.01,11-3051.01,both
3,Geothermal Production Managers,2009,both,11-3051.02,11-3051.02,both
4,Biofuels Production Managers,2009,both,11-3051.03,11-3051.03,both

In [15]:
condition = (df_final.onetsoccode_x != df_final.onetsoccode_y) & \
                (df_final.onetsoccode_y.notnull())
df_final['onetsoccode'] = np.where(condition, df_final.onetsoccode_y,
                                              df_final.onetsoccode_x)
df_final.drop(['onetsoccode_x', 'onetsoccode_y'], axis=1, inplace=True)
df_final.head()

                              title  year _merge _merge2 onetsoccode
0     Chief Sustainability Officers  2009   both    both  11-1011.03
1                   Green Marketers  2009   both    both  11-2011.01
2  Quality Control Systems Managers  2009   both    both  11-3051.01
3    Geothermal Production Managers  2009   both    both  11-3051.02
4      Biofuels Production Managers  2009   both    both  11-3051.03

In [16]:
# Occupations that are not updated by Crosswalk 2009-2010
df_final[df_final._merge2 != 'both']

,title,year,_merge,_merge2,onetsoccode
11,Funeral Service Managers,2010,both,left_only,11-9061.00
29,Fundraisers,2010,both,left_only,13-1131.00
35,Credit Counselors,2010,both,left_only,13-2071.00
103,Community Health Workers,2010,both,left_only,21-1094.00
104,"Special Education Teachers, All Other",2010,both,left_only,25-2059.00
125,Art Therapists,2010,both,left_only,29-1125.01
126,Music Therapists,2010,both,left_only,29-1125.02
127,Exercise Physiologists,2010,both,left_only,29-1128.00
136,Magnetic Resonance Imaging Technologists,2010,both,left_only,29-2035.00
141,Surgical Assistants,2010,both,left_only,29-2099.07
145,Phlebotomists,2010,both,left_only,31-9097.00
148,Transportation Security Screeners,2006,both,left_only,33-9093.00
155,"Financial Clerks, All Other",2010,both,left_only,43-3099.00
163,"Radio, Cellular, and Tower Equipment Installer...",2010,both,left_only,49-2021.00
166,"Food Processing Workers, All Other",2010,both,left_only,51-3099.00

* In the above occupations, we will ignore new works from year 2010 since they are not included in O\*NET-SOC Crosswalk 2009 - 2010.
* __Transportation Security Screeners__ first emerges in O\*NET-SOC Taxonomy 2006. Later, in O\*NET-SOC Taxonomy 2009, it named __Transportation Security Officers__. Finally, in O\*NET-SOC Taxonomy 2010, it changed name back to __Transportation Security Screeners__.
* As a result, all new work is updated.

In [17]:
df_final.drop(['_merge', '_merge2'], axis=1, inplace=True)
df_final = df_final[['onetsoccode', 'title', 'year']]
with pd.option_context('display.max_rows', None):
    display(df_final)

    onetsoccode                                              title  year
0    11-1011.03                      Chief Sustainability Officers  2009
1    11-2011.01                                    Green Marketers  2009
2    11-3051.01                   Quality Control Systems Managers  2009
3    11-3051.02                     Geothermal Production Managers  2009
4    11-3051.03                       Biofuels Production Managers  2009
5    11-3051.04                        Biomass Production Managers  2009
6    11-3051.05   Methane/Landfill Gas Collection System Operators  2009
7    11-3051.06                  Hydroelectric Production Managers  2009
8    11-9039.01                     Distance Learning Coordinators  2009
9    11-9039.02                  Fitness and Wellness Coordinators  2009
10   11-9041.01  Biofuels/Biodiesel Technology and Product Deve...  2009
11   11-9061.00                           Funeral Service Managers  2010
12   29-1141.04                         Clinical Nurse Specialists  2009
13   11-9121.01                     Clinical Research Coordinators  2009
14   11-9121.02                         Water Resource Specialists  2009
15   11-9199.01                        Regulatory Affairs Managers  2009
16   11-9199.02                                Compliance Managers  2009
17   11-9199.03                           Investment Fund Managers  2009
18   11-9199.04                              Supply Chain Managers  2009
19   13-1199.06                                   Online Merchants  2009
20   11-3071.03                                 Logistics Managers  2009
21   11-9199.07                                  Security Managers  2009
22   11-9199.08                           Loss Prevention Managers  2009
23   11-9199.09                    Wind Energy Operations Managers  2009
24   11-9199.10                       Wind Energy Project Managers  2009
25   11-9199.11  Brownfield Redevelopment Specialists and Site ...  2009
26   13-1041.07                     Regulatory Affairs Specialists  2009
27   13-1081.01                                Logistics Engineers  2009
28   13-1081.02                                 Logistics Analysts  2009
29   13-1131.00                                        Fundraisers  2010
30   13-1199.01                                    Energy Auditors  2009
31   13-1199.02                    Security Management Specialists  2009
32   13-1199.03                                    Customs Brokers  2009
33   13-1199.04                       Business Continuity Planners  2009
34   13-1199.05                         Sustainability Specialists  2009
35   13-2071.00                                  Credit Counselors  2010
36   13-2099.01                    Financial Quantitative Analysts  2009
37   13-2099.02                        Risk Management Specialists  2009
38   13-2099.03                            Investment Underwriters  2009
39   13-2099.04        Fraud Examiners, Investigators and Analysts  2009
40   15-1121.01                      Informatics Nurse Specialists  2009
41   15-1143.01                     Telecommunications Specialists  2009
42   15-1199.01   Software Quality Assurance Engineers and Testers  2006
43   15-1199.02              Computer Systems Engineers/Architects  2006
44   15-1143.00                                  Network Designers  2006
45   15-1134.00                                     Web Developers  2006
46   15-1199.03                                 Web Administrators  2006
47   15-1199.04  Geospatial Information Scientists and Technolo...  2009
48   15-1199.05         Geographic Information Systems Technicians  2009
49   15-1199.06                                Database Architects  2009
50   15-1199.07                       Data Warehousing Specialists  2009
51   15-1199.08                     Business Intelligence Analysts  2009
52   15-1199.09            Information Technology Project Managers  2009
53   15-1199.10                    Electronic Commerce Specialists  2009
54   15-1199.11                               Video Game Designers  2009
55   15-1199.12                    Document Management Specialists  2009
56   15-2041.01                                   Biostatisticians  2009
57   15-2041.02                             Clinical Data Managers  2009
58   17-1022.01                                 Geodetic Surveyors  2009
59   17-2051.01                           Transportation Engineers  2009
60   17-2081.01                         Water/Wastewater Engineers  2009
61   17-2072.01  Radio Frequency Identification Device Specialists  2009
62   17-2112.01            Human Factors Engineers and Ergonomists  2009
63   17-2141.01                                Fuel Cell Engineers  2009
64   17-2141.02                               Automotive Engineers  2009
65   17-2199.01                              Biochemical Engineers  2009
66   17-2199.02                               Validation Engineers  2009
67   17-2199.03                                   Energy Engineers  2009
68   17-2199.04                            Manufacturing Engineers  2009
69   17-2199.05                             Mechatronics Engineers  2009
70   17-2199.06                             Microsystems Engineers  2009
71   17-2199.07                                Photonics Engineers  2009
72   17-2199.08                                 Robotics Engineers  2009
73   17-2199.09                              Nanosystems Engineers  2009
74   17-2199.10                              Wind Energy Engineers  2009
75   17-2199.11                     Solar Energy Systems Engineers  2009
76   17-3024.01                               Robotics Technicians  2009
77   17-3027.01                 Automotive Engineering Technicians  2009
78   17-3029.01                Non-Destructive Testing Specialists  2009
79   17-3029.02               Electrical Engineering Technologists  2009
80   17-3029.03        Electromechanical Engineering Technologists  2009
81   17-3029.04              Electronics Engineering Technologists  2009
82   17-3029.05               Industrial Engineering Technologists  2009
83   17-3029.06            Manufacturing Engineering Technologists  2009
84   17-3029.07               Mechanical Engineering Technologists  2009
85   17-3029.08                              Photonics Technicians  2009
86   17-3029.09               Manufacturing Production Technicians  2009
87   17-3029.10                              Fuel Cell Technicians  2009
88   17-3029.11           Nanotechnology Engineering Technologists  2009
89   17-3029.12             Nanotechnology Engineering Technicians  2009
90   19-1029.01                          Bioinformatics Scientists  2009
91   19-1029.02                  Molecular and Cellular Biologists  2009
92   19-1029.03                                        Geneticists  2009
93   19-2041.01                            Climate Change Analysts  2009
94   19-2041.02                 Environmental Restoration Planners  2009
95   19-2041.03                              Industrial Ecologists  2009
96   19-2099.01        Remote Sensing Scientists and Technologists  2009
97   19-3011.01                           Environmental Economists  2009
98   19-3039.01  Neuropsychologists and Clinical Neuropsycholog...  2009
99   19-3099.01                            Transportation Planners  2009
100  19-4099.01                           Quality Control Analysts  2009
101  19-4099.02                  Precision Agriculture Technicians  2009
102  19-4099.03                         Remote Sensing Technicians  2009
103  21-1094.00                           Community Health Workers  2010
104  25-2059.00              Special Education Teachers, All Other  2010
105  25-2059.01            Adaptive Physical Education Specialists  2009
106  25-3099.02                                             Tutors  2009
107  25-9031.01          Instructional Designers and Technologists  2009
108  29-1069.01                       Allergists and Immunologists  2009
109  29-1069.02                                     Dermatologists  2009
110  29-1069.03                                       Hospitalists  2009
111  29-1069.04                                       Neurologists  2009
112  29-1069.05                        Nuclear Medicine Physicians  2009
113  29-1069.06                                   Ophthalmologists  2009
114  29-1069.07                                       Pathologists  2009
115  29-1069.08    Physical Medicine and Rehabilitation Physicians  2009
116  29-1069.09                     Preventive Medicine Physicians  2009
117  29-1069.10                                       Radiologists  2009
118  29-1069.11                         Sports Medicine Physicians  2009
119  29-1069.12                                         Urologists  2009
120  29-1071.01                        Anesthesiologist Assistants  2009
121  29-1141.01                                  Acute Care Nurses  2009
122  29-1141.02               Advanced Practice Psychiatric Nurses  2009
123  29-1141.03                               Critical Care Nurses  2009
124  29-1122.01  Low Vision Therapists, Orientation and Mobilit...  2009
125  29-1125.01                                     Art Therapists  2010
126  29-1125.02                                   Music Therapists  2010
127  29-1128.00                             Exercise Physiologists  2010
128  29-1199.01                                     Acupuncturists  2009
129  29-1151.00                                 Nurse Anesthetists  2009
130  29-1171.00                                Nurse Practitioners  2009
131  29-1199.04                            Naturopathic Physicians  2009
132  29-1199.05                                        Orthoptists  2009
133  29-2011.01                          Cytogenetic Technologists  2009
134  29-2011.02                                  Cytotechnologists  2009
135  29-2011.03      Histotechnologists and Histologic Technicians  2009
136  29-2035.00           Magnetic Resonance Imaging Technologists  2010
137  29-2099.01               Electroneurodiagnostic Technologists  2009
138  29-2092.00                            Hearing Aid Specialists  2009
139  29-2057.00   Ophthalmic Medical Technologists and Technicians  2009
140  29-1161.00                                     Nurse Midwives  2009
141  29-2099.07                                Surgical Assistants  2010
142  29-9099.01                                           Midwives  2009
143  29-9092.00                                 Genetic Counselors  2009
144  31-9099.02                              Endoscopy Technicians  2009
145  31-9097.00                                      Phlebotomists  2010
146  31-9099.01               Speech-Language Pathology Assistants  2009
147  33-3021.06                              Intelligence Analysts  2009
148  33-9093.00                  Transportation Security Screeners  2006
149  33-9099.02                        Loss Prevention Specialists  2009
150  35-3022.01                                           Baristas  2009
151  39-1021.01                                       Spa Managers  2009
152  41-3031.03                 Securities and Commodities Traders  2009
153  41-3099.01                                     Energy Brokers  2009
154  41-4011.07          Solar Sales Representatives and Assessors  2009
155  43-3099.00                        Financial Clerks, All Other  2010
156  43-4051.03                            Patient Representatives  2009
157  43-5011.01                                 Freight Forwarders  2009
158  43-9111.01                         Bioinformatics Technicians  2009
159  47-1011.03                 Solar Energy Installation Managers  2009
160  47-2231.00                      Solar Photovoltaic Installers  2009
161  47-4099.02           Solar Thermal Installers and Technicians  2009
162  47-4099.03          Weatherization Installers and Technicians  2009
163  49-2021.00  Radio, Cellular, and Tower Equipment Installer...  2010
164  49-9099.01                             Geothermal Technicians  2009
165  49-9081.00                   Wind Turbine Service Technicians  2009
166  51-3099.00                 Food Processing Workers, All Other  2010
167  51-8099.01                    Biofuels Processing Technicians  2009
168  51-8099.02  Methane/Landfill Gas Generation System Technic...  2009
169  51-8099.03                          Biomass Plant Technicians  2009
170  51-8099.04                    Hydroelectric Plant Technicians  2009
171  51-9199.01                  Recycling and Reclamation Workers  2009
172  53-1021.01                             Recycling Coordinators  2009

In [18]:
df_final.to_csv('new_work.csv', index=False)